:root{
    --color-01: #0073b3;
    --color-02: #ea5257;
    
    --white-color: #ffffff;
    --gray-light-color: #f3f3f3;
    --gray-color: #cccccc;
    --gray-dark-color: #666666;
    --black-color: #000000;
    --link-color: #509ee3;
    --title-color: #333333;
    --text-color: #222222;
    --font: "Raleway", "san-serif";
    --max-width: 1200px;
    --header-heigth: 4rem;
}